
body {
    background: no-repeat;
    background-image: url("../img/min.jpg");
    background-size: 100%;
}

h1 {
    font-size: 150px;
    text-align: center;
}

.one {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}