
body {
    background-color: #DEB887;
    }

h1 {
    font-size: 150px;
    text-align: center;
    text-anchor: #8B0000;
}

.one {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 100px;
}